<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citycat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.example.citycat.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.citycat.permission.MAPS_RECEIVE" />

    <application
        android:icon="@drawable/cool_cat_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.citycat.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.citycat.PostEvent"
            android:label="@string/title_activity_post_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.citycat.ChooseLocation"
            android:label="@string/title_activity_choose_location"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAacB9Rpb99JG6kMRQb5ir2FaqFPDbKUt8" />

        <activity
            android:name="com.example.citycat.ChooseEvent"
            android:label="@string/title_activity_choose_event" >
        </activity>
      
       
        
        
        
        
        
        <activity
            android:name="com.example.citycat.Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.citycat.TabsEvents"
            android:label="@string/title_activity_tabs_events" >
        </activity>
        
      <activity android:name=".ListEvent"/>
       <activity android:name=".ListEventsByCategory"/>
   
    </application>

</manifest>